.my-navbar {
	background-color: #7952b3;
}

button {
	align-items: center;
}

.bar {
	font-size: small;
}

.display-4 {
	padding-bottom: 1.3rem;
}

#bgt .btn {
	margin-bottom: 1.3rem;
}

.card {
	display: inline-block;
	margin: 1rem 0.6rem;
}

body {
	background-color: #eee;
	padding-top: 70px;
}
.title {
	margin-bottom: 50px;
	text-transform: uppercase;
}

.card-block {
	font-size: 1em;
	position: relative;
	margin: 0;
	padding: 1em;
	border: none;
	border-top: 1px solid rgba(34, 36, 38, .1);
	box-shadow: none;
}
.card {
	font-size: 1em;
	overflow: hidden;
	padding: 5;
	border: none;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	margin-top: 20px;
}

.carousel-indicators li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-color: #404040;
}
.carousel-indicators li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-color: #404040;
}
.carousel-indicators .active {
	background-color: white;
	max-width: 12px;
	margin: 0 3px;
	height: 12px;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 1000000;
	top: 0;
}

.progress-bar {
	background: -webkit-linear-gradient(left, #f282bc 0%, #33156d 100%);
}

.beta {
	font-size: 10px;
	vertical-align: bottom;
	top: 10px; //depends on your font-size
	position: relative;
}
