{% extends "layout.html" %}

{% block main %}
<h1 class="display-4 d-none d-md-block">
    Check out these recommendations
</h1>
<h4 class="d-md-none"> Check out these recommendations</h4>

<h6 class="pl-md-4">
    <span class="badge badge-warning">  Currently only amazon buy links are supported.</span>
    <span class="badge badge-warning">I am working on flipkart links.</span>
</h6>


<div class="row justify-content-center">
{%for phone in phones %}
    <div class="card px-2" >
        <div class="card-horizontal">
            <div class="row pt-2 justify-content-center">
                <div class="col">
                    <img src="{{phone.image}}" alt="{{phone.name}}">
                </div>
                <div class="col ml-3 text-left align-self-center">
                    <i class="fas fa-memory"></i> {{phone.ram}} <br>
                    <i class="fas fa-hdd"></i> {{phone.storage}} STORAGE <br>
                    <i class="fas fa-battery-full"></i> {{phone.battery}} 
                </div>

            </div>
            
            
            <div class="card-body">
            <h5 class="card-title">{{phone.name}}</h5>

            </div>
            <div class="row">
                <div class="col"><div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width:{{phone.bar_performance}}%;" aria-valuenow="{{phone.bar_performance}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div></div>
                <div class="col"><div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width:{{phone.bar_display}}%;" aria-valuenow="{{phone.bar_display}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div></div>
                <div class="col"><div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width:{{phone.bar_camera}}%;" aria-valuenow="{{phone.bar_camera}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div></div>
                <div class="col"><div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width:{{phone.bar_battery}}%;" aria-valuenow="{{phone.bar_battery}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div></div>
            </div>
            <div class="row">
                <div class="bar col-3">Power</div>
                <div class="bar col-3">Display</div>
                <div class="bar col-3">Camera</div>
                <div class="bar col-3">Battery</div>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{phone.camera}}</li>
            <li class="list-group-item">{{phone.front_cam}}</li>
            <li class="list-group-item">{{phone.processor}}</li>
            <!-- <p class="card-text">{{phone.discription}}</p> -->
            <div class="card-body">
            <a href="{{phone.az_link}}" target="_blank" class="card-link  btn btn-outline-primary">Buy</a>
            <a href="{{phone.az_link}}" target="_blank" disabled class="card-link">{{phone.price}}</a>
            </div>
        </div>

    </div>
{%endfor%}
</div>

{% endblock %}